<div class="container">
  
  <h1> <%=current_user.email%></h1>

  <%= link_to "Add a thing", new_thing_path, class: "btn btn-warning btn-lg" %><br><br>

  <%= render :partial => 'thingshow' %>

</div>