<div ng-controller="vetted.SimpleController">
  
<h1> <%=current_user.email%></h1>

<ul>
  <li ng-repeat="thing in things">
  {{thing.name}}
  </li>
</ul>
</div>
<%= link_to "Add a thing", new_thing_path%>

