<div class="container">
<h1> <%=current_user.email%></h1>

<%= link_to "Add a thing", new_thing_path%>
<br>
<div id="accordion">
  <h3> Category </h3>
  <ul>
  <% @categories.each do |t|%>
    <li> <%=t%> </li>
  <% end %>
  </ul>

  <h3> Location </h3>
  <ul>
  <% @locations.each do |t|%>
    <li> <%=t%> </li>
  <% end %>
  </ul>
</div>
</div>